@import "tailwindcss";
body {
  font-size: 125%;
  margin: 0px;
  padding: 0px;
}

.currentCardWrapper {
  @apply flex flex-1/2;
  @apply p-3;
}

.currentCard {
  @apply bg-[#a4d9ff90] rounded-xl;
  @apply p-2 h-60 w-full;
  @apply flex flex-col justify-between items-center;
}
